# Ignore Xcode stuff:
build/*
*.mode*
*.pbxuser

# Ignore Finder stuff:
.DS_Store
profile

# Ignore leftovers from other SCM systems:
CVS
.svn
Weppy.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Weppy.xcodeproj/project.xcworkspace/xcshareddata/Weppy.xccheckout
